---
import BaseLayout from "@/layouts/baseLayout.astro";

import { SEOBase } from "@/content/template/seo/seo";
import {
  mainNav,
  footerNav,
  footerMeta,
} from "@/content/template/navigation/navigation";

import BrandLogo from "@/components/products/open-sketchbooks/logo/BrandLogo.astro";


---

<BaseLayout
  baseSEO={SEOBase}
  pageSEO={{
    title: "Open Sketchbooks",
    description:
      "Quick template for building content-rich websites with Astro. Features SEO best practices, responsive design, and easy customization.",
  }}

  navItems={mainNav}
  footerSections={footerNav}
  footerMeta={footerMeta}

  logo={BrandLogo}
>

<section class="hero">

  <!-- коллаж -->
  <img src="/images/horse.png" class="heroLayer heroLayer--horse" />
  <img src="/images/stars.png" class="heroLayer heroLayer--stars" />
  <img src="/images/drops.png" class="heroLayer heroLayer--drops" />
  <img src="/images/flower.png" class="heroLayer heroLayer--flower" />

  <!-- карточка -->
<div class="paperMain">

  <!-- заголовок -->
  <img src="/images/title.png" class="heroTitleImage" alt="Sketchbook Exhibition" />

  <!-- инфо -->
  <div class="heroInfo">

    <p class="heroDate">
      Tbilisi, 11 April 2026 • Saturday<br/>
      12:00 - 18:00
    </p>

    <p class="heroPlace">CHITI Club Saburtalo</p>

    <p class="heroAddress">
      39 Simon Kandelaki St, Tbilisi
    </p>

    <p class="heroCurator">
      Curated by 
      <a 
        href="https://www.threads.com/@katherine.poliakova"
        target="_blank"
        rel="noopener noreferrer"
      >
        Ekaterina Poliakova
      </a>
    </p>

  </div>

  <a 
    href="https://form.typeform.com/to/gbhRlqP7"
    class="heroButton"
    target="_blank"
    rel="noopener noreferrer"
  >
    Open Call for Artists
  </a>

</div>

</section>

</BaseLayout>